CHAPTER_MEETINGS_ID="id"
BOARD_MEETINGS_ID="id"
DRIVE_CREDENTIALS_BASE64="b64"
STATUTES_URL_EN="https://kth.it"
STATUTES_URL_SV="https://kth.it"
RECEPTION_BASE_URL="https://kth.it"
QMISK_BASE_URL="https://kth.it"
ITK_BASE_URL="https://kth.it"
TMEIT_BASE_URL="https://kth.it"
URL="https://kth.it" #This is set by Netlify